// scss-docs-start theme-color-variables
$primary: #1aeab6 ;

.img{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 100px;
}
body{
    height: 50px;
    background: linear-gradient(90deg, #1aeab6 36%, white 36%);
}

.img{
    display: flex !important;
    flex-direction: initial;
    justify-content: center;
}
.caja{
    margin: 2rem;
    padding: 10px 50px 20px;
}
@import "../node_modules/bootstrap/scss/bootstrap";
